body {
    background-color: #BACDCB;
}
.cs-header {
    background-color: #5D6B86;
    color: #F8FAF0;
}

.problem {
    border: 2px solid #FDBF4A;
    background-color: #F8FAF0;
}

.solution {
    border: 2px solid #5D6B86;
}

.footer {
    background-color: #BACDCB;
}

.inline-math {
    font-family:'Courier New', Courier, monospace;
    font-style: italic;
    font-size: 25px;
}
/* <span class="inline-math"></span> */